APP_PORT = YOUR_PORT_NUMBER
APP_RATE_LIMIT_WINDOW = YOUR_RATE_LIMIT_WINDOW_IN_MS
APP_RATE_LIMIT_MAX = YOUR_RATE_LIMIT_MAX

DB_HOST = YOUR_DB_HOST
DB_USER = YOUR_DB_USER
DB_PASSWORD = YOUR_DB_PASSWORD
DB_NAME = YOUR_DB_NAME

JWT_SECRET = YOUR_JWT_SECRET_KEY
JWT_EXPIRES_IN = YOUR_JWT_EXPIRATION_TIME